body {
    color: #6c757d;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}.profile {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
    background-color: #382925;
}
.img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 50px;
    margin-top: 300px;
}
.container{
    margin-left: 19rem;
}
.section{

   
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: #343a40;
}
h1, .h1 {
    font-size: 6rem;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #343a40;
    font-weight: 700;
    margin: 0;
}
.text-primary {
    color: #bd5d38 ;
}
.subheading {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
a {
    color: #bd5d38;
    text-decoration: none;
    background-color: transparent;
}
p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}
h2, .h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.divider {
    height: 1px;
    background-color: black;
    margin-bottom: 10px; /* Khoảng cách giữa các đường kẻ */
}
.mb-3{
    margin-bottom: 1rem;
}
.icon-container{
    display: flex;
    align-items: center; /* Canh giữa theo chiều dọc */
}
.icon-container svg {
    margin-right: 20px; /* Khoảng cách giữa các biểu tượng */
    width: 42px;
    height: 72px;
}